<div id="content">
	<div id="header">
		<header>
			<%= image_tag "logo-fin.png",:id => "logo" %>
			<div id="bu-contain">
				<div class="button" id="b1"> <%= link_to "LogIn",users_login_path %></div>
				<div class="button" id="b2"> <%= link_to "SignUp",new_user_path %></div>
			</div>
		</header> 
	</div>
	<div id="slogan">
	<span id="sm">&nbsp從今天起使用</span><span id="en">&nbspN+ππ</span><br>
			&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp讓買賣不再如此繁瑣
	</div>
	<div id="but">
		<a href="signup.html">開始使用</a>
	</div>
</div>
<footer>
	<%= image_tag "footer.png",:id => "temp_temp"%>
</footer>
